<div class="top-adjustment">
<main class="form-signin">
<form action="/login" method="POST">
    <h2>Please Login</h2>
    <label> Username:
        <input type="username" name="username" class="form-control" required autofocus>
    </label>
    <label> Password:
        <input type="password" name="password" class="form-control" required>
    </label>
    <button class="w-50 btn btn-lg btn-primary" type="submit">Login</button>

    <br />
    {{#if errorMessage}}
        {{errorMessage}}
    {{/if}}

</form>
</main>
</div>