<h2>Register</h2>

<form action="/register" method="POST">

    <label> Username:
        <input type="text" name="username">
    </label>
    <label> Email:
        <input type="email" name="email">
    </label>
    <label> Password:
        <input type="password" name="password">
    </label>

    <button type="submit">Sign up</button>

    <br />
    {{#if errorMessage}}
        {{errorMessage}}
    {{/if}}

</form>