<div class="top-adjustment">
<h2>Register</h2>

<form action="/register" method="POST">
<div>
    <label> Username:
        <input type="text" name="username">
    </label>
    <label> Password:
        <input type="password" name="password">
    </label>
    <label> Email:
        <input type="email" name="email">
    </label>  
</div><br><br>
<p>
    <label>Name (this is the name that will be displayed with your uploaded works)</label><br>
    <label> First Name:
        <input type="text" name="fname">
    </label>
    <label> Last Name:
        <input type="text" name="lname">
    </label><br>
  
</p>

    <button type="submit">Sign up</button>

    <br />
    {{#if errorMessage}}
        {{errorMessage}}
    {{/if}}

</form>
</div>