<div class="top-adjustment">
{{#if userInSession}}
    <h3>Welcome, {{userInSession.fname}} </h3>

    <form action="/artwork-new" method="POST" enctype="multipart/form-data">
      <label>Title: <input type="text" name="title" value="" />
      </label>
        <br>
      <label>Medium: 
        <select name="medium">
      <option value="Drawing">Drawing</option>
      <option value="Etching">Etching</option>
      <option value="Lithograph">Lithograph</option>
      <option value="Mixed Media">Mixed Media</option>
      <option value="Acrylic on Canvas">Acrylic on Canvas</option>
      <option value="Oil on Canvas">Oil on Canvas</option>
      <option value="Watercolor">Watercolor</option>
      <option value="Painting">Painting</option>
      <option value="Photograph">Photograph</option>
      <option value="Print">Print</option>
      <option value="Bronze Sculpture">Bronze Sculpture</option>
      <option value="Ceramic Sculpture">Ceramic Sculpture</option>
      <option value="Clay Sculpture">Clay Sculpture</option>
      <option value="Marble Sculpture">Marble Sculpture</option>
      <option value="Stone Sculpture">Stone Sculpture</option>
      <option value="Sculpture">Sculpture</option>
</select>
      </label>
        <br>
        <label>Description: <textarea name="description" cols="40" rows="5" maxlength="140"></textarea>
        </label>
        <br>
      <label>Image:<input type="file" name="imageToUpload" />
      </label>
        <br>
        <br>
        <br>
      <button type="submit">Create</button>      
      </form>

{{else}}
      <b>No user is logged in!</b>
{{/if}}
</div>