{{#if userInSession}}
    <h3>Welcome, {{userInSession.fname}} </h3>
    <div>Create a new Gallery</div>
  
<form action="/gallery-new/" method="POST">
<label>
  Gallery Title:
  <input type="text" name="galleryTitle"/>
</label>
<br>
<label>
  Gallery Description:
  <textarea name="galleryDescription"></textarea>
</label>
<br>
<label>
  Gallery Theme:
  <input type="text" name="galleryTheme"/>
</label>
<label>Images:</label>
<select name="image" multiple>
  {{#each artworkFromDB}}
  <option value="{{_id}}">{{title}}</option>
  {{/each}}
</select>

      <br>
      <br>
<button type="submit">Create</button>
      
</form>
{{else}}
    <b>No user is logged in!<b>
{{/if}}

<a href="/profile"> Return to Profile Page </a>