<section class="text-center homepage">
  <h1 id="app-title">{{title}}</h1>
  <p>Welcome to {{title}}</p>

<div><a href="/rijksmuseum">Rijksmuseum</a></div>

<div><a href="gallery">New Artist Galleries</a></div>
</section>

