<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav>
      {{#if userInSession}}
Welcome, {{userInSession.username}}&nbsp;
<a href="/profile">View Profile</a>
<form action="/logout" method="POST">
  <button type="submit">
    Logout
  </button>
</form>
{{else}}
<a href="auth/login">Login</a>&nbsp;
<a href="auth/register">Register</a>
{{/if}}




    </nav>
    <div class="container">
      {{{body}}}
    </div>

    <script src="/javascripts/script.js"></script>
  </body>

</html>