{{#if userInSession}}
    <h3>Welcome, {{userInSession.username}} </h3>
<form action="/logout" method="POST">
<button type="submit">Logout</button>
</form>
{{else}}
    <p>><a href="auth/login.hbs">Return to Login Page</a></p>
    <p><a href="auth/register.hbs">Register Now</a></p>
{{/if}}


<a href="/profile"> Refresh </a>