<h2>Rijks Museum</h2>

{{#each apiValue}}
<br>
  <h4>Title: {{title}}</h4>
  <p>Artist(s): {{principalOrFirstMaker}}</p>
<br>

  <a href="{{webImage.url}}" target="_blank"><img src="{{webImage.url}}" width="150px" alt=""></a>
  <br>
  <br>
  <br>
  <br /><br /><br />
{{/each}}